{% extends "main.html" %}
{% load static %}
{% block content %}
{% if messages%}
{% for message in messages %}
<div class="alert {{ message.tags }} " role="alert">{{ message | safe }}</div>
{% endfor %}
{% endif %}

{% if page_obj %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">SMS Text</th>
            <th scope="col">Class</th>
        </tr>
    </thead>
    <tbody>
        {% for sms in page_obj %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ sms.text }}</td>
            <td>{{ sms.label }}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if page_obj.paginator.num_pages > 1 %}

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
        </li>
        {% else %}

        <li class="page-item disabled ">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        {% endif %}

        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.number }}">
                {{ page_obj.number }}
            </a>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1">Next</a>
        </li>
        {% else %}

        <li class="page-item disabled ">
            <a class="page-link" href="#" tabindex="-1">Next</a>
        </li>
        {% endif %}

    </ul>
</nav>
{% endif %}

{% endblock %}