body,
html {
  height: 100%;
}
.page-content {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}
.sms-text {
  direction: rtl;
}

.select-label {
  width: auto;
}

ul.errorlist {
  display: none;
}

.img-fluid {
  max-width: 100%;
  height: 100%;
}
